body {
    background: #1B1B25;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
.hero-title {
    width: 800px;
    text-align: center;
}
.about-me {
    width: 800px;
}
.about-me-title {
    text-align: center;
}
.about-me-text {
    line-height: 24px;
}
.centered {
    margin: 0 auto;
}
